* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #fffefe;
}

canvas {
  display: block;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;

  }
  
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: "Open Sans"; font-size: 24px; font-style: normal; 
    font-variant: normal; font-weight: 300; line-height: 26.4px;
    text-transform: uppercase;
    color: black;
    display: block;
 
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #818181;
 
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }